.Header {
  width: 780px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Header > h1 {
  color: rgb(17, 136, 255);
}

.head {
  display: flex;
  justify-items: center;
  align-items: center;
}
