.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem button {
  cursor: pointer;
  color: rgb(193, 50, 50);
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

/* 완료된 항목 스타일 */
.TodoItem .content.done {
  text-decoration: line-through; /* 밑줄 추가 */
  color: #888; /* 완료된 항목 색상 변경 */
}
